.container{
  margin-top: 100px 0;
  width: 80% !important;
  margin: 0 auto;
}

.card{
  margin: 0 2% !important;
}

.positive{
  border-bottom: 10px solid #e63946;
}

.negative{
  border-bottom: 10px solid #3a86ff;
}

.deaths{
  border-bottom: 10px solid #6c757d;
}

.gridcontainer{
  display: flex;
  justify-content: center;
  margin: 20px 0 !important;
  margin-bottom: 50px !important;
  margin: 0 auto;
}

.card{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 420px){
  .container{
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
  }
  .card{
    margin: 10px !important;
    margin-left: -20px !important;
  }
}
