.banner{
  width: 80% !important;
  height: 380px !important;
  background-image: url(/src/img/covidbanner.png);
  background-size: 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
}

.image{
  width: 100%;
}

@media (max-width: 800px){
  .banner{
    height: 200px !important;
  }
}

@media (max-width: 420px){
  .banner{
    height: 150px !important;
    width: 100% !important;

  }
}
